
<main>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="navbar-brand active" href="#">All</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="#">New releases</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Most popular</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#">Trends</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Recomendations</a>
      </li>
    </ul>
    <div class="row">        
      <div class="col-md-3 col-sm-6 col-6" *ngFor="let pelicula of peliculas  | paginate: { itemsPerPage: 8, currentPage: p }">
        <div class="hovereffect">
          <img [src]="pelicula.image" [alt]="pelicula.name"/>
          <div class="overlay">
             <h2>{{pelicula.name}}</h2>
             <a class="info watch" routerLink="detalles/{{pelicula.id}}">watch now</a><br>
             <a class="info" routerLink="detalles/{{pelicula.id}}">more info</a>
          </div>
      </div>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

</main>
